/build/
/dist/
/AGENTS.md
/notepad--/
/docs/bug-backlog-2026-09-07.md
/docs/bug-fix-handoffs-2026-09-07.md
/.vs/
/.qmake.stash
/Makefile
*.obj
*.o
*.pdb
*.ilk
*.exp
*.lib
*.dll
*.user
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
